body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #fff;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.main-content {
  flex: 1; 
  padding: 20px; 
}
/* 
site logo */



/* header section */






/* carticon hover view start */

/* .fa-bag-shopping{

  width:15px;
  cursor: pointer;
 
 }
  */



/* carticon hover view end */

/* 
.userauth {
  display: block;
  position: absolute;
  list-style-type: none !important;
  margin-left:68px;
  width:10%;
  padding:3px;
  background-color: #fffcfc;
  margin-top: 7px;
  
}

.userauth a{
  border-bottom: 1px solid lightgray;
  margin-left: -50px;
  
}

.userauth ul li a:hover{
  
  background-color: #eaeaea;
  
  
}

.userauth ul li{
  list-style-type: none;
  
} */





/* svg.svg-inline--fa.fa-circle-arrow-down {
  font-size: 10px;
} */

/* .cart {
 
  float: right;
  margin-right: 100px;
  font-size: 35px;

  @media (max-width:750px) {
    
    margin-right: 30px;
  }

} */








/* header section close */



/* page not found */


/* shop page */


/* Product text */
/* .product-name {
  position:absolute;
  bottom:20px;
  font-size: 16px;
  margin-top:90px;
  font-weight: 600;
  color: #333;
}

.discountprice {
  position: absolute;
  bottom:-5px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: monospace;
}

.discounted {
  color: red;
}


.cart-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  display: flex;
  gap: 10px;
  z-index: 3;
  pointer-events: none;
}

.cart-button-container.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
}

.btncart {
  background-color: white;
  border: none;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnview {
  background-color: white;
  border: none;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;   /* Add width */
  /* height: 40px;  
  font-size: 16px;  */
/* } */

/* .btncart:hover,
.btnview:hover {
  transform: scale(1.15);
  background-color: rgb(213, 202, 182);
}

.fa-eye {
margin-left:0px !important;
} */ */





/* salebadge */




/* 
cart page */






/* filters work */
/* 
.searchpro {

  display: none;
}



svg.svg-inline--fa.fa-box {
  margin-right: 5px;
  color: #f16666
}

svg.svg-inline--fa.fa-dollar-sign {
  margin-right: 5px;
  color: #f16666
}

svg.svg-inline--fa.fa-angle-down {
  float: right;
  margin-right: 18px;
  margin-top: 5px;
  color: rgb(90, 80, 80)
}

svg.svg-inline--fa.fa-tag {
  margin-right: 5px;
  color: #f16666
} */




/* cartpage */

.message-well {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

















/* Admin welcome page */


/* admin sidebar settings */










/*addproduct page settings*/







/* all product dipslay admin panel */




/* admin table view */

/* 
admin page working */
.searchitems{
  display: block;
  text-align: center;
  position: relative;
  margin-top: 15px;
 
  }
  
    .searchinput {
      border: 1px solid red;
  }
  
    .searchinput:focus{
      outline: none;
    }

div.searchitems:focus{
  outline: none !important;
}

table.adminviewtb {
  width: 80%;
  margin: auto;
  margin-top:25px;
  text-align: center;
  
  
}
.table-container {
 
 /* Add horizontal scroll if necessary */
  position: relative;
  @media (max-width:750px) {
    position: relative;
    overflow-x: auto;
    height: 100%;
  }

}

 .updateuser{ /* update user */
  display: block;
  margin:auto;
  position: absolute;
  top: 150px;
  margin-left:30%;
  background: rgb(238, 69, 94);
  color: white;
  padding: 24px;
  border-radius: 12px;

  @media (max-width:750px) {
    display:block;
    position: absolute;
    margin:auto;
    margin-left:8%;
    
    
  }

}




table.adminviewtb td {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  font-size: 13px;
}

table.adminviewtb th{
  
  
  background-color: var(--toastify-color-light);
  padding: 5px;
  font-size: 12px;

}


.pagenumber{
position: absolute;
right:0;
margin-right:125px;
margin-bottom: 25px;
@media (max-width:750px) {
  display: block;
  margin: auto;
  position: relative;
  width: 25%;
  margin-top: 10px;
  margin-bottom: -15px;
  
  }
}


  div.pagination {
    display: block;
    margin-top: 25px;
    text-align: center;
}
.itemperpage{
display: block;
margin-top:15px;
}

.itemperpage select{
  display: block;
  margin: auto;
  width:10%;
  height:30px;
  border:1px solid #f16666 ;
  text-align: center;
  outline: none;
  @media (max-width:750px) {
    
    width:30%;
  }

}
.itemperpage select:active,
.itemperpage select:focus
{
  border-color: #f16666;
}

svg.svg-inline--fa.fa-recycle {
  color: red;
  cursor: pointer;
  margin-left: 10px;

}
svg.svg-inline--fa.fa-pen-to-square {
  color: red;
  cursor: pointer;
}

svg.svg-inline--fa.fa-chevron-left.pageprevious {
  margin-right: 5px;
  font-size: 23px;
  cursor: pointer;
  color: red;
}
svg.svg-inline--fa.fa-chevron-right.pagenext {
  margin-left:5px;
  font-size: 23px;
  cursor: pointer;
  color: red;
}
button.btnpagination {
  background: none;
  border-radius: 50%;
  font-size: 18PX;
  margin: 1px;
  border: 1px solid red;
  background: whitesmoke;
}

button.btnpagination:active{
background-color: #e4a090;
}

/* admin allproducts working */
svg.svg-inline--fa.fa-magnifying-glass {
  /* display: table-footer-group; */
  margin-left: -36px;
  margin-top: 1.7px;
  color: red;
  background-color: #ffff6b;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  padding: 9px;
  margin-bottom:-0.9px;

 
}

@media (max-width:750px) {
    div.searchproduct{

      display:flex;
      width:50% !important;
      border-radius:10%;
    }
    
}



/* product edit page */



  .btn-proimg {
    position: absolute;
    top: 3px;
    margin-left: 172px;
}
button#previewimage {
  background: #f16666;
  border: none;
  border: 1px solid red;
  border-radius: 50%;
  position:absolute;
  top:0;
  left:188px;
  
}


/* gallery images for edit product page */

div.galleryimgbtn {
  display: block;
  margin-top: -128px;
  margin-left: 73px;
  margin-bottom: 115px;
}
button.btn-imagegallery {
  background: none;
  border: none;
  border: 1px solid red;
  background-color: #f07b7b;
  border-radius: 50%;
  font-size: 10px;
  
}

/* product review page admin */




.reviewmagic {
  display: block;
  position: absolute;
  margin: auto;
  top: -100px;
  left:30%;
  z-index: 9999;

  @media (max-width:750px) {
    width: 50%;
    left:25%
  }

}
div.cardreview {
  display: block;
  margin: auto;
  width: 40%;
  text-align: center;
  background-color: #ff5072;
  color: white;
}








/* admin productcat page */




.modelformcat {
  position: absolute;
  top: 50%; /* Align to vertical center */
  left: 50%; /* Align to horizontal center */
  transform: translate(-50%, -50%); /* Center the child horizontally and vertically */
  width: 80%; /* 80% of the parent's width */
  max-width: 400px; /* Maximum width of the child */
  padding: 20px; /* Example padding */
  background-color: #d61b1b; /* Example background color */
  color:white;
  border-radius: 10px;
}
input.prodcutcatinput{
  width: 100%;
}

btn.catgorybtn {
  display: block;
  float: right;
  margin-top: -10px;
  cursor: pointer;
}



/* page order view */
table.orderdetailtb {
  display: block;
  margin: auto;
  width: 80%;
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 12px;
  overflow-x: auto;
}

.orderdetailtb th{
  width:35%;
  border-bottom:1px solid lightgray;
  background-color: #f1f1f1;
  padding: 2px;
}

.orderdetailtb td{
  padding: 15px;
  
  }




  /* mobile view navmenu */


 
  
 
  
  
  



 




